body
{
    font-size: 24px;
    color: white;
}

.container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*VARIABLES*/

$cd-txt: #6300a0;
$cd-txt--invalid: #fff;
$cd-danger : #b20a37 ;
$cd-box: #0f71cc;
$shake-intensity: 1%;

$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$anim-dur: 1000ms;
$num-bars: 5;
$anim-delay: $anim-dur / $num-bars;

/*KEYFRAMES*/

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}

@keyframes headshake 
{
    25% 
    {
        transform: translateX($shake-intensity);
    }
    75% 
    {
        transform: translateX(-$shake-intensity);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

span
{
    color: #333;
    font-family: raleway;
    font-weight: 700;
    margin: 20px 0;
}

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: #15DEA5;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards infinite alternate ease-in-out;
        @for $i from 1 through 5
        {
            &--#{$i}
            {
                animation-delay: $anim-delay*$i;
            }
            &--#{$i}-inv
            {
                animation-direction: alternate-reverse;
                animation-delay: $anim-delay*$i + random(100)*15ms;
                background-color: $cd-bars-inv;
                &:hover
                {
                    animation-play-state: paused;
                }
            }
        }
    }
}



.spin {
    margin-top: 30px;
    background-color: #15DEA5;
    width: 20vh;
    height: 20vh;
    animation: spin 3s linear infinite paused;
    cursor: pointer;
}



















.form {
    &__group {
        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-bars-inv;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 100%;
            background-color: $cd-bars;
            &:focus {
                border: 2px solid $cd-txt;
            }
            &:not(:focus):invalid {
                background-color: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-txt--invalid;
                animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 2;
            }
        }
        
    }
}