body {
  font-size: 24px;
  color: white;
}

.container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*VARIABLES*/
/*KEYFRAMES*/
@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@keyframes headshake {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

span {
  color: #333;
  font-family: raleway;
  font-weight: 700;
  margin: 20px 0;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__bar {
  background-color: #15DEA5;
  height: 100%;
  width: 3vh;
  -webkit-animation: bars 1000ms backwards infinite alternate ease-in-out;
          animation: bars 1000ms backwards infinite alternate ease-in-out;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--1-inv {
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 1520ms;
          animation-delay: 1520ms;
  background-color: #0E397F;
}

.load__bar--1-inv:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--2-inv {
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  background-color: #0E397F;
}

.load__bar--2-inv:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--3-inv {
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 1785ms;
          animation-delay: 1785ms;
  background-color: #0E397F;
}

.load__bar--3-inv:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.load__bar--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.load__bar--4-inv {
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 830ms;
          animation-delay: 830ms;
  background-color: #0E397F;
}

.load__bar--4-inv:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.load__bar--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.load__bar--5-inv {
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 2125ms;
          animation-delay: 2125ms;
  background-color: #0E397F;
}

.load__bar--5-inv:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.spin {
  margin-top: 30px;
  background-color: #15DEA5;
  width: 20vh;
  height: 20vh;
  -webkit-animation: spin 3s linear infinite paused;
          animation: spin 3s linear infinite paused;
  cursor: pointer;
}

.form__group input {
  border: 2px solid #0f71cc;
  border-radius: 100rem;
  color: #0E397F;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  outline: none;
  padding: .5rem 1.5rem;
  width: 100%;
  background-color: #15DEA5;
}

.form__group input:focus {
  border: 2px solid #6300a0;
}

.form__group input:not(:focus):invalid {
  background-color: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
  -webkit-animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
          animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}
/*# sourceMappingURL=emailinvalid.css.map */