@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes" ;
body
{
    margin: 0px;
    font-family: 'Roboto','sans-serif';
}

a
{
    text-decoration: none;
    color: black;
}

/*HEADER*/
header
{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(#aaa8a8, 0.5);
    .way_icon
    {
        color: #353535;
        position: relative;
        left: 20px;
        font-size: 20px;
        &:hover
        {
            background:-moz-linear-gradient(top, #e771da 0%, #a75ddc 100%); 
            background: -webkit-linear-gradient(top, #e771da 0%,#a75ddc 100%); 
            background: linear-gradient(to bottom, #e771da 0%,#a75ddc 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            -webkit-animation: icons 500ms both ease-in-out;
        }
    }
}


@include mon_footer;
.plat
{
    overflow: hidden;
}

.plat img
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 500ms;
    position: relative;
    z-index: 0;
    &:hover
    {
        transform: scale(1.5);
    }
}

main
{
    background-color: $bg-gris-clair2;
    border-radius: 25px 25px 0 0;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
    margin: auto;
    margin-top: -25px;
    .titre
    {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Shrikhand', 'sans-serif';
        .icon
            {
                cursor: pointer;
                &:hover
                {
                    background:-moz-linear-gradient(top, #e771da 0%, #a75ddc 100%); 
                    background: -webkit-linear-gradient(top, #e771da 0%,#a75ddc 100%); 
                    background: linear-gradient(to bottom, #e771da 0%,#a75ddc 100%);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color:transparent;
                    -webkit-animation: icons 500ms both ease-in-out;
                }
                &:hover i 
                {
                    font-weight: 700;
                }
            }
            i
            {
                font-size: 20px;
            }
    }
    .menus
    {
        width: 90%;
        margin: auto;
        display: flex;
        .menu__titre
        {
            width: 40px;
            border-bottom: 4px solid $tertiaire;
            padding-bottom: 5px;
        }
        .element1
        {
            animation: plats 1000ms both ease-out;
        }
        .element2
        {
            animation: plats 1000ms 100ms both ease-out;
        }
        .element3
        {
            animation: plats 1000ms 200ms both ease-out;
        }
        
        .element4
        {
            animation: plats 1000ms 300ms both ease-out;
        }
        .element
        {
            background-color: white;
            box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 1rem;
            margin: 1rem 0;
            overflow: hidden;
            cursor: pointer;
            max-width: 100%;
            display: flex;
            .text
            {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                flex: 1;
                &__titre
                {
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &__description
                {
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-top: -10px;
                }
            }
            .prix
            {
                font-weight: 700;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-left: 0rem;
            }
            .confirmation
            {
                background-color: $tertiaire;
                margin: -1rem -6rem -1rem 1rem;
                border-radius: 0px 15px 15px 0px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-duration: 330ms;
            }
            &:hover .confirmation
            {
                margin-right: -1rem;
            }
            i
            {
                color: white;
                font-size: 24px;
                transform: rotate(360deg);
                transition-duration: 500ms;
            }
            &:hover i
            {
                transform: rotate(0);
            }
        }
    }
    .btn {
        width: 220px;
        height: 50px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50px;
        background-image: $gradient-boutton;
        box-shadow: 0px 4px 4px rgba(#aaa8a8, 0.5);
        position: relative;
        z-index: 1;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 30px;
        &:hover
        {
            & .btn__bg
            {
                opacity: 1;
            }
        }
        &__bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient( lighten(#e771da, 5) 0%, lighten(#a75ddc, 5) 100%);
            box-shadow: 0px 4px 4px rgba(#aaa8a8, 0.9);
            border-radius: 50px;
            opacity: 0;
            z-index: -1;
            transition: opacity 330ms;
        }
    }
}

/*RESPONSIVITÉ*/
@media screen and (min-width: 992px) /*DESKTOP*/
{
    main
    {
        width: 90%;
        .menus
        {
            flex-direction: row;
            justify-content: space-between;
            .menu
            {
                width: 31%;
            }
        }
    }
    #contenu-footer
    {
        width: 90%;
    }
}

@media screen and(max-width:992px) /*TABLETTE*/
{
    main
    {
        width: 100%;
        .menus
        {
            flex-direction: column;
            justify-content: space-between;
            .menu
            {
                width: 95%;
                margin: auto;
            }
        }
    }
    #contenu-footer
    {
        width: 85%;
    }
}

@media screen and (max-width:768px) /*telephone*/
{

}