.blou {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-animation: loader 0.01s 2250ms forwards;
          animation: loader 0.01s 2250ms forwards;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis .un {
  background: #9356DC;
}

.lds-ellipsis .deux {
  background: #99E2D0;
}

.lds-ellipsis .trois {
  background: #FF79DA;
}

.lds-ellipsis .quatre {
  background: #99E2D0;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes plats {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}

@keyframes plats {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}

@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text {
  0% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}

@keyframes text {
  0% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}

body {
  margin: 0px;
  font-family: 'Roboto','sans-serif';
}

a {
  text-decoration: none;
  color: black;
}

/*HEADER*/
header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 0px 4px 4px rgba(170, 168, 168, 0.5);
          box-shadow: 0px 4px 4px rgba(170, 168, 168, 0.5);
}

header .way_icon {
  color: #353535;
  position: relative;
  left: 20px;
  font-size: 20px;
}

header .way_icon:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a75ddc));
  background: linear-gradient(to bottom, #e771da 0%, #a75ddc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
}

#contenu-footer {
  width: 85%;
  margin: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#liens-footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  text-decoration: none;
  color: #eeeeee;
  padding-top: 5px;
  width: 200px;
}

.fa-utensils {
  margin-right: 11px;
}

#logo-footer img {
  width: 130px;
  height: 22px;
}

.plat {
  overflow: hidden;
}

.plat img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  position: relative;
  z-index: 0;
}

.plat img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
  margin: auto;
  margin-top: -25px;
}

main .titre {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Shrikhand', 'sans-serif';
}

main .titre:hover .icon {
  background: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a75ddc));
  background: linear-gradient(to bottom, #e771da 0%, #a75ddc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .titre:hover i {
  font-weight: 700;
}

main .titre i {
  font-size: 20px;
}

main .menus {
  width: 90%;
  margin: auto;
}

main .menus .sous-titre {
  width: 40px;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}

main .menus .meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: padding-right 450ms ease-in-out;
  transition: padding-right 450ms ease-in-out;
}

main .menus .meals:hover {
  padding-right: 75px;
}

main .menus .meals:hover .cross {
  opacity: 1;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

main .menus .meals:hover .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

main .menus .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

main .menus .cross .fa-check-circle {
  color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
/*# sourceMappingURL=test-menu.css.map */